{%- set is_cmd_exe = build_platform == "windows" -%}

{# Set up extra arguments #}
{%- set extra = extra_args | join(" ") -%}

{# Output version information #}
meson --version
ninja --version

{# Configure and build #}
{% if is_cmd_exe -%}
if "%MESON_ARGS%"=="" (
    set "MESON_ARGS=--prefix=%LIBRARY_PREFIX% --buildtype=release -Dlibdir=lib"
)

if not exist builddir\build.ninja (
    meson setup builddir "{{ source_dir }}" %MESON_ARGS% --default-library=shared {{ extra }}
    @if errorlevel 1 exit 1
)

meson compile -C builddir
@if errorlevel 1 exit 1

meson install -C builddir --no-rebuild
@if errorlevel 1 exit 1

{% else -%}
if [ -z "$MESON_ARGS" ]; then
    MESON_ARGS="--prefix=$PREFIX --buildtype=release -Dlibdir=lib"
fi

if [ ! -f "builddir/build.ninja" ]; then
    meson setup builddir "{{ source_dir }}" $MESON_ARGS --default-library=shared {{ extra }}
fi

meson compile -C builddir

meson install -C builddir --no-rebuild
{% endif -%}
